<p>
	<strong style="font-size: 30pt"><%= @article.title %></strong>
</p>

<p>
	<%= h(@article.text) %>
</p>

<%= link_to '^ Like', upvote_article_path(@article) %> | <span><%= @article.votes %></span> | <%= link_to 'Dislike v', downvote_article_path(@article) %>
<%= link_to 'Download', download_article_path %>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', articles_path %> | <%= link_to 'Edit', edit_article_path(@article) %>

<!--
<%= form_for @article, url: upload_article_path do |f| %>
  <%= f.file_field :stuff %>
  <%= f.submit %>
<% end %>
-->